In [124]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [126]:
#Load the cleaned dataset
file_path = "../colleges.csv"
colleges_df = pd.read_csv(file_path, index_col=0)
colleges_df.head()

,state,applicants_total,enrolled_total,perc_fresh_sat_scores,perc_fresh_act_scores,instate_price,outstate_price,total_enrollment,ft_enrollment,pt_enrollment,...,far_west_region,great_lakes_region,mid_east_region,new_england_region,plains_region,rocky_mountains_region,southeast_region,southwest_region,us_service_schools_region,average_tuition
collegeid,,,,,,,,,,,,,,,,,,,,,
1,1,6142.0,1104.0,15.0,88.0,21849.0,27441.0,5020.0,4439.0,581.0,...,0,0,0,0,0,0,1,0,0,6.7480
2,1,5689.0,1773.0,6.0,93.0,22495.0,31687.0,18568.0,11961.0,6607.0,...,0,0,0,0,0,0,1,0,0,6.5185
3,1,2054.0,651.0,34.0,94.0,23466.0,35780.0,7376.0,4802.0,2574.0,...,0,0,0,0,0,0,1,0,0,8.3930
4,1,10245.0,1479.0,18.0,87.0,18286.0,25222.0,6075.0,5182.0,893.0,...,0,0,0,0,0,0,1,0,0,7.9745
5,1,30975.0,6454.0,23.0,76.0,27000.0,41500.0,34752.0,29498.0,5254.0,...,0,0,0,0,0,0,1,0,0,8.7875

In [8]:
colleges_df.hvplot.scatter(x="enrolled_total", y="average_tuition")

:Scatter   [enrolled_total]   (average_tuition)

In [9]:
colleges_df.describe()

,state,applicants_total,enrolled_total,perc_fresh_sat_scores,perc_fresh_act_scores,instate_price,outstate_price,total_enrollment,ft_enrollment,pt_enrollment,...,far_west_region,great_lakes_region,mid_east_region,new_england_region,plains_region,rocky_mountains_region,southeast_region,southwest_region,us_service_schools_region,average_tuition
count,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,...,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.0,1111.000000
mean,27.074707,7117.447345,1174.014401,53.042304,54.340234,34598.635464,38958.018902,8395.122412,6533.526553,1861.595860,...,0.099910,0.162016,0.184518,0.074707,0.109811,0.027003,0.267327,0.074707,0.0,19.753042
std,14.108805,9372.837786,1373.805774,34.766104,31.589789,12993.583759,10105.803217,10207.285095,8211.932743,2701.470649,...,0.300015,0.368632,0.388081,0.263037,0.312795,0.162164,0.442764,0.263037,0.0,11.620790
min,1.000000,152.000000,33.000000,0.000000,0.000000,11398.000000,11398.000000,194.000000,142.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.772750
25%,15.000000,1696.500000,321.500000,15.000000,28.000000,22479.000000,31839.500000,1936.500000,1506.000000,281.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,8.018750
50%,28.000000,3670.000000,610.000000,64.000000,50.000000,34100.000000,37395.000000,4058.000000,3047.000000,857.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,20.688000
75%,39.000000,8151.000000,1417.500000,86.000000,88.000000,44293.500000,45242.500000,10819.500000,8117.500000,2439.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,28.439750
max,51.000000,72676.000000,10241.000000,100.000000,100.000000,64988.000000,64988.000000,77338.000000,50012.000000,40985.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,46.244500

In [48]:
colleges_df

,state,applicants_total,enrolled_total,perc_fresh_sat_scores,perc_fresh_act_scores,instate_price,outstate_price,total_enrollment,ft_enrollment,pt_enrollment,...,far_west_region,great_lakes_region,mid_east_region,new_england_region,plains_region,rocky_mountains_region,southeast_region,southwest_region,us_service_schools_region,average_tuition
collegeid,,,,,,,,,,,,,,,,,,,,,
1,1,6142.0,1104.0,15.0,88.0,21849.0,27441.0,5020.0,4439.0,581.0,...,0,0,0,0,0,0,1,0,0,6.74800
2,1,5689.0,1773.0,6.0,93.0,22495.0,31687.0,18568.0,11961.0,6607.0,...,0,0,0,0,0,0,1,0,0,6.51850
3,1,2054.0,651.0,34.0,94.0,23466.0,35780.0,7376.0,4802.0,2574.0,...,0,0,0,0,0,0,1,0,0,8.39300
4,1,10245.0,1479.0,18.0,87.0,18286.0,25222.0,6075.0,5182.0,893.0,...,0,0,0,0,0,0,1,0,0,7.97450
5,1,30975.0,6454.0,23.0,76.0,27000.0,41500.0,34752.0,29498.0,5254.0,...,0,0,0,0,0,0,1,0,0,8.78750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107,5,12562.0,902.0,93.0,40.0,19210.0,30370.0,5732.0,5205.0,527.0,...,1,0,0,0,0,0,0,0,0,5.65250
1108,10,10804.0,2761.0,83.0,67.0,19102.0,38424.0,14077.0,10539.0,3538.0,...,0,0,0,0,0,0,1,0,0,5.67725
1109,5,6960.0,756.0,90.0,24.0,25007.0,36167.0,5140.0,4401.0,739.0,...,1,0,0,0,0,0,0,0,0,6.01825
1110,10,1611.0,254.0,69.0,64.0,36860.0,36860.0,988.0,965.0,23.0,...,0,0,0,0,0,0,1,0,0,20.80275
1111,10,3195.0,562.0,51.0,48.0,20170.0,31086.0,4660.0,2792.0,1868.0,...,0,0,0,0,0,0,1,0,0,5.33775

In [66]:
colleges_train, colleges_test = train_test_split(colleges_df,random_state=1)

In [67]:
colleges_train.shape

(833, 40)

In [68]:
colleges_test.shape

(278, 40)

In [63]:
def get_splitclusters(k, data):
    # Create a copy of the DataFrame
    data = data.copy()

    # Initialize the K-Means model
    model = KMeans(n_clusters=k, random_state=0)

    # Fit the model
    model.fit(data)

    # Predict clusters
    predictions = model.predict(data)

    # Create return DataFrame with predicted clusters
    data["splitcluster"] = model.labels_

    return (data, model)

In [64]:
(four_clusters_train, model)=get_splitclusters(4, colleges_train)
four_clusters_train.head()

,state,applicants_total,enrolled_total,perc_fresh_sat_scores,perc_fresh_act_scores,instate_price,outstate_price,total_enrollment,ft_enrollment,pt_enrollment,...,great_lakes_region,mid_east_region,new_england_region,plains_region,rocky_mountains_region,southeast_region,southwest_region,us_service_schools_region,average_tuition,splitcluster
collegeid,,,,,,,,,,,,,,,,,,,,,
630,33,57845.0,5207.0,78.0,22.0,63540.0,63540.0,44599.0,35096.0,9503.0,...,0,1,0,0,0,0,0,0,42.43500,3
57,5,12741.0,1572.0,91.0,32.0,22312.0,33472.0,14526.0,11733.0,2793.0,...,0,0,0,0,0,0,0,0,6.09100,1
485,24,1551.0,318.0,5.0,93.0,39750.0,39750.0,5528.0,3294.0,2234.0,...,0,0,0,1,0,0,0,0,27.74375,0
986,44,4505.0,534.0,59.0,40.0,48630.0,48630.0,2358.0,2259.0,99.0,...,0,0,0,0,0,0,1,0,32.22925,2
55,5,16242.0,3139.0,89.0,39.0,20682.0,31842.0,23060.0,19511.0,3549.0,...,0,0,0,0,0,0,0,0,5.91425,3

In [69]:
testpredictions = model.predict(colleges_test)
testpredictions

array([1, 0, 3, 1, 0, 0, 1, 1, 0, 2, 1, 2, 2, 0, 1, 0, 1, 2, 0, 1, 1, 2,
       2, 1, 0, 0, 2, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 2, 3, 0, 2, 2, 1,
       0, 1, 1, 1, 3, 2, 0, 1, 2, 2, 3, 1, 3, 0, 0, 3, 3, 0, 2, 1, 2, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 2, 0, 1, 1, 0, 0, 2, 3, 1, 1, 2, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 3, 0, 3, 0, 3, 3, 2, 0, 0, 1, 2, 3, 3, 1, 0,
       1, 3, 1, 2, 0, 1, 0, 2, 3, 3, 2, 2, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 2, 0, 0, 2, 1, 1, 2, 3, 2, 0, 2, 1, 2, 0, 0, 2, 3,
       2, 1, 1, 2, 1, 3, 2, 0, 1, 0, 0, 1, 0, 2, 2, 0, 2, 0, 2, 0, 0, 1,
       0, 0, 2, 1, 1, 1, 0, 2, 0, 0, 3, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 3,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 2, 1, 0, 0, 0,
       0, 1, 3, 3, 1, 0, 1, 0, 1, 0, 1, 1, 1, 2, 1, 0, 2, 2, 0, 0, 0, 2,
       2, 1, 0, 1, 1, 0, 2, 1, 3, 0, 2, 1, 1, 2, 0, 0, 1, 0, 2, 0, 2, 0,
       0, 1, 2, 1, 1, 1, 1, 2, 2, 0, 1, 0, 3, 0])

In [70]:
colleges_test["splitcluster"] = testpredictions

C:\Users\sec13\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
colleges_test

,state,applicants_total,enrolled_total,perc_fresh_sat_scores,perc_fresh_act_scores,instate_price,outstate_price,total_enrollment,ft_enrollment,pt_enrollment,...,great_lakes_region,mid_east_region,new_england_region,plains_region,rocky_mountains_region,southeast_region,southwest_region,us_service_schools_region,average_tuition,splitcluster
collegeid,,,,,,,,,,,,,,,,,,,,,
664,33,3341.0,410.0,82.0,7.0,19284.0,28534.0,4367.0,3657.0,710.0,...,0,1,0,0,0,0,0,0,6.38450,1
738,36,1279.0,302.0,14.0,99.0,35020.0,35020.0,2229.0,1667.0,562.0,...,1,0,0,0,0,0,0,0,22.49750,0
127,7,27479.0,3755.0,91.0,27.0,27244.0,46192.0,25911.0,22482.0,3429.0,...,0,0,1,0,0,0,0,0,11.08750,3
355,19,904.0,266.0,3.0,93.0,23390.0,23390.0,1400.0,1092.0,308.0,...,0,0,0,0,0,1,0,0,13.57750,1
1078,50,2167.0,544.0,6.0,87.0,46220.0,46220.0,2658.0,2341.0,317.0,...,1,0,0,0,0,0,0,0,31.83750,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,17,267.0,145.0,11.0,93.0,36482.0,36482.0,558.0,523.0,35.0,...,0,0,0,1,0,0,0,0,22.26100,0
679,34,3925.0,527.0,96.0,3.0,13161.0,24018.0,2421.0,2155.0,266.0,...,0,0,0,0,0,1,0,0,4.00825,1
12,1,866.0,259.0,13.0,87.0,32570.0,32570.0,1610.0,1288.0,322.0,...,0,0,0,0,0,1,0,0,17.52750,0
299,16,21642.0,4460.0,10.0,86.0,20691.0,39561.0,29748.0,24295.0,5453.0,...,0,0,0,1,0,0,0,0,7.82500,3
265,15,715.0,157.0,46.0,50.0,37484.0,37484.0,524.0,496.0,28.0,...,1,0,0,0,0,0,0,0,23.23750,0

In [72]:
colleges_split = four_clusters_train.append(colleges_test)
colleges_split.head()

,state,applicants_total,enrolled_total,perc_fresh_sat_scores,perc_fresh_act_scores,instate_price,outstate_price,total_enrollment,ft_enrollment,pt_enrollment,...,great_lakes_region,mid_east_region,new_england_region,plains_region,rocky_mountains_region,southeast_region,southwest_region,us_service_schools_region,average_tuition,splitcluster
collegeid,,,,,,,,,,,,,,,,,,,,,
630,33,57845.0,5207.0,78.0,22.0,63540.0,63540.0,44599.0,35096.0,9503.0,...,0,1,0,0,0,0,0,0,42.43500,3
57,5,12741.0,1572.0,91.0,32.0,22312.0,33472.0,14526.0,11733.0,2793.0,...,0,0,0,0,0,0,0,0,6.09100,1
485,24,1551.0,318.0,5.0,93.0,39750.0,39750.0,5528.0,3294.0,2234.0,...,0,0,0,1,0,0,0,0,27.74375,0
986,44,4505.0,534.0,59.0,40.0,48630.0,48630.0,2358.0,2259.0,99.0,...,0,0,0,0,0,0,1,0,32.22925,2
55,5,16242.0,3139.0,89.0,39.0,20682.0,31842.0,23060.0,19511.0,3549.0,...,0,0,0,0,0,0,0,0,5.91425,3

In [73]:
#colleges_split.to_csv('colleges_split.csv')

In [123]:
#four_clusters_train.to_csv('colleges_train.csv')

In [122]:
#colleges_test.to_csv('colleges_test.csv')

In [74]:
def get_fullclusters(k, data):
    # Create a copy of the DataFrame
    data = data.copy()

    # Initialize the K-Means model
    model = KMeans(n_clusters=k, random_state=0)

    # Fit the model
    model.fit(data)

    # Predict clusters
    predictions = model.predict(data)

    # Create return DataFrame with predicted clusters
    data["fullcluster"] = model.labels_

    return data

In [75]:
colleges_4clusters=get_fullclusters(4, colleges_df)
colleges_4clusters.head()

,state,applicants_total,enrolled_total,perc_fresh_sat_scores,perc_fresh_act_scores,instate_price,outstate_price,total_enrollment,ft_enrollment,pt_enrollment,...,great_lakes_region,mid_east_region,new_england_region,plains_region,rocky_mountains_region,southeast_region,southwest_region,us_service_schools_region,average_tuition,fullcluster
collegeid,,,,,,,,,,,,,,,,,,,,,
1,1,6142.0,1104.0,15.0,88.0,21849.0,27441.0,5020.0,4439.0,581.0,...,0,0,0,0,0,1,0,0,6.7480,1
2,1,5689.0,1773.0,6.0,93.0,22495.0,31687.0,18568.0,11961.0,6607.0,...,0,0,0,0,0,1,0,0,6.5185,1
3,1,2054.0,651.0,34.0,94.0,23466.0,35780.0,7376.0,4802.0,2574.0,...,0,0,0,0,0,1,0,0,8.3930,1
4,1,10245.0,1479.0,18.0,87.0,18286.0,25222.0,6075.0,5182.0,893.0,...,0,0,0,0,0,1,0,0,7.9745,1
5,1,30975.0,6454.0,23.0,76.0,27000.0,41500.0,34752.0,29498.0,5254.0,...,0,0,0,0,0,1,0,0,8.7875,3

In [89]:
#colleges_4clusters.to_csv('colleges_cluster.csv')